/******************************************************
 *  json store                 *
\*****************************************************/
body {
  font-family: "Lucida Grande", Lucida, Helvetica, Arial, sans-serif;
  background: #FFF;
  color: #333;
  margin: 0px;
  padding: 0px;
}

#header {
  background: #C97E41;
  margin: 0px;
  padding: 20px;
  margin-bottom: 3em;
}
#header h1 {
  font-family: Inconsolata, Monaco, Courier, mono;
  color: #FFF;
  margin: 0px;
}
#header .cart-info {
  position: absolute;
  top: 0px;
  right: 0px;
  text-align: right;
  padding: 10px;
  background: #714625;
  color: #FFF;
  font-size: 12px;
  font-weight: bold;
}
img {
  border: 0;
}

.item {
  float:left;
  width: 200px;
  height: 300px;
  text-align:center;
  font-size: 12px;
  padding: 1em;
  margin-bottom:1em;
}

.item a{
  text-decoration: none;
  color: #3F3F3F;
}

.item a:hover {
  text-decoration: none;
  color: #3F3F3F;
}
.item-title {
  font-weight: bold;
}
.item-description{
  text-align: justify;
}
.item-artist {
  padding-left: 2em;
  padding-right: 2em;
  font-weight: bold;
  font-size: 15px;
  color:#496B97;
}
.item-detail .item-image {
  float:left;
}
.item-detail .item-info {
  padding: 60px 75px 0px 10px;
}

.item-image{
  margin-bottom:1em;
}

.item-price{
  font-size: 14px;
  font-weight: bold;
  color:#7F7F7F;
}