<div class="item">
  <div class="item-image">
    <a href="#/item/<%= id %>"><img src="<%= item.image %>" alt="<%= item.title %>" /></a>
  </div>
  <div class="item-artist"><%= item.name %></div>
  <div class="item-title"><%= item.category %></div>
  <div class="item-price">$<%= item.price %></div>
</div>